In [74]:
import pandas as pd
import numpy as np
from scipy.stats import wilcoxon, mannwhitneyu
import matplotlib.pyplot as plt

In [75]:
df = pd.read_csv('covid_dataset/us-covid19/vaccinations/us_state_vaccinations.csv')
df = df.fillna(0)
df.head(2)

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used,total_boosters,total_boosters_per_hundred
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,0.0,0.0,0.0,0.207,0.0,0.0
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222,0.0,0.0

In [76]:
states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut',
       'Delaware', 'District of Columbia',
        'Florida', 'Georgia', 
       'Hawaii', 'Idaho', 'Illinois',  'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York State', 'North Carolina', 'North Dakota',
        'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania',   'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas',
       'Utah', 'Vermont', 
        'Virginia', 'Washington', 'West Virginia',
       'Wisconsin', 'Wyoming']
len(states)

51

In [84]:
other_states = []
pvalues = []

In [85]:
for st in states:
    if st != 'North Carolina':
        nc_df = list(df[df['location']=='North Carolina']['daily_vaccinations'])
        ot_df = list(df[df['location']==st]['daily_vaccinations'])
        w, p = mannwhitneyu(nc_df, ot_df)
        other_states.append(st)
        pvalues.append(round(p,4))

In [86]:
my_state = ['North Carolina'] * len(other_states)
format_pval = []

for p in pvalues:
    format_pval.append('{:.2e}'.format(p))

In [87]:
wilcoxon_df = pd.DataFrame(zip(my_state, other_states, pvalues), columns=['NC', 'Other', 'pvalue'])
wilcoxon_df.to_csv('covid_dataset/state_data/wilcoxon_pvalue.csv', index=None)

In [82]:
format_pval

['3.85e-70',
 '5.65e-146',
 '8.68e-12',
 '4.70e-103',
 '1.84e-122',
 '2.24e-21',
 '1.41e-51',
 '1.04e-139',
 '2.22e-143',
 '1.20e-59',
 '1.94e-02',
 '8.95e-122',
 '3.07e-131',
 '2.11e-08',
 '1.13e-29',
 '1.96e-87',
 '2.90e-98',
 '4.46e-66',
 '5.98e-72',
 '3.58e-125',
 '6.60e-13',
 '2.69e-04',
 '7.25e-02',
 '1.62e-23',
 '3.40e-109',
 '1.23e-36',
 '9.18e-142',
 '3.67e-121',
 '1.85e-93',
 '7.84e-127',
 '9.19e-01',
 '2.17e-105',
 '3.30e-59',
 '9.92e-145',
 '8.36e-01',
 '5.17e-77',
 '7.65e-49',
 '8.55e-09',
 '8.41e-135',
 '1.76e-52',
 '2.76e-143',
 '2.67e-26',
 '9.71e-91',
 '1.57e-86',
 '5.47e-143',
 '8.46e-01',
 '6.52e-04',
 '5.63e-120',
 '4.92e-25',
 '3.66e-147']